<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xingxue.kkxy.dao.UserDataDao">
	<resultMap type="Userdata" id="userDataMap">
		<result column="uname" property="uname" />
		<result column="upassword" property="upassword" />
		<result column="ustatus" property="ustatus" />
		<association property="users" javaType="Users" resultMap="userMap"></association>
	</resultMap>
	<resultMap type="Users" id="userMap">
	<id column="uid" property="uid"/>
	</resultMap>

	<insert id="addUserData" parameterType="Userdata">
		insert into
		userdata(uname,upassword)values(#{uname},#{upassword})
	</insert>
	<select id="registerUserData" parameterType="Userdata"
		resultMap="userDataMap">
		SELECT d.uname as uname ,d.upassword as upassword,d.ustatus as ustatus,u.uid as uid FROM userdata d
		,users u WHERE
		d.uid= u.uid AND d.uname=#{uname} AND
		d.upassword=#{upassword}
	</select>
	<select id="updateFirstSelectUser" parameterType="Userdata"
		resultType="Userdata">
		select * from userdata where uname=#{uname}
	</select>
	<update id="updatepassword" parameterType="Userdata">
		update userdata set upassword=#{upassword} where uname=#{uname}
	</update>
</mapper>